.container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: cyan;
      padding: 20px 30px;
}

.sub-container{
      display: flex;
      gap: 20px;
}

.nav-items{
      text-decoration: none;
      color: black;
}